# =========================
# .NET / ASP.NET Core
# =========================

**/bin/
**/obj/

# =========================
# Visual Studio
# =========================

.vs/
*.user
*.suo

# =========================
# VS Code
# =========================

.vscode/

# =========================
# Logs
# =========================

*.log

# =========================
# Sistema Operacional
# =========================

.DS_Store
Thumbs.db